.tableUser {
  margin: 0 auto;
  padding: 20px 30px;

  h1 {
    padding-bottom: 10px;
  }

  table {
    width: 100%;
    tr {
      th {
        border-bottom: 1px solid black;
      }
      td {
        border-bottom: 1px solid #eaeaea;
        padding: 10px;
        text-align: center;
      }
    }

    tbody {
      tr:hover {
        background-color: #f4f4f4;
      }
    }
  }
}
